<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    <div style="width: 100%;height: 100vh;display: flex; align-items: center;">
 <video height="600" style="margin: 10% auto;" width="400" autoplay="true" muted controls>
        <source src="muddu.mp4"/>
    </video>
    </div>
   
</body>
</html>